@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import "tailwindcss";

/** font-normal font-weight: 400; **/
/** font-semibold font-weight: 600; **/
/** font-extrabold font-weight: 800; **/
@theme {
  --font-funnel: "Funnel Display" , sans-serif;
}

button {
  all: unset;
}

body {
  background-color: var(--color-primary);
  color: var(--color-third);
  font-family: var(--font-funnel);
  font-weight: var(--font-weight-semibold)
}